@import url("../css/root.css");


.section1 {
    background-image: url(../images/mian-section-img-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-txt {
    max-width: 908px;
    text-align: center;
}

.submit-btn {
    width: 147px;
    height: 48px;
    border-radius: 30.5px;
    background: var(--submit-btn);
    margin-top: 40px;
}

.under-top-layer {
    top: 3%;
}

.mb-220 {
    margin-bottom: 220px;
}

@media (min-width: 576px) {
    .under-top-layer {
        top: 4%;
    }
}

@media (min-width: 768px) {
    .main-txt::after {
        content: '';
        position: absolute;
        top: 73%;
        left: 23%;
        background-image: url(../images/main-txt-before.png);
        background-repeat: no-repeat;
        height: 102px;
        width: 87.85px;
    }

    .under-top-layer {
        top: 6%;
    }
}

@media (min-width: 992px) {
    .main-txt::after {
        content: '';
        position: absolute;
        top: 80%;
        left: 4%;
        background-image: url(../images/main-txt-before.png);
        background-repeat: no-repeat;
        height: 102px;
        width: 87.85px;
    }
}

@media (min-width: 1200px) {
    .submit-btn {
        margin-top: 58px;
    }
}

@media (max-width: 992px) {
    .menubar {
        height: 45px;
        width: 40px;
    }

    .menubar span {
        height: 4px;
        border-radius: 6px;
        background-color: var(--color-black);
        width: 100%;
    }

    .navbar-items {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--submit-btn);
        align-items: center;
        justify-content: center;
        z-index: 3;
    }

    .show {
        left: 0;
    }
}