@import url("../css/root.css");

.mycontainer {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.section1 {
    background-image: url(../images/mian-section-img-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-txt {
    max-width: 908px;
    z-index: 2;
}

.submit-btn {
    width: 147px;
    height: 48px;
    border-radius: 30.5px;
    background: var(--submit-btn);
    margin-top: 40px;
    border: none;
    outline: none;
}

.under-top-layer {
    top: 3%;
}

.mb-260 {
    margin-bottom: 260px;
}

.pb-300 {
    padding-bottom: 300px;
}

.top-170 {
    top: 114px;
}

.txt-color {
    background: var(--liner-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about_us::after {
    content: '';
    position: absolute;
    right: -71%;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    width: 44px;
    background: var(--liner-gradient);
}

.text-justify {
    text-align: justify;
}

.sec2-p {
    padding-top: 12px;
    z-index: 1;
}

.section3 {
    background-image: url(../images/section3.png);
    background-position: center;
    background-size: 100% 100%;
    top: 60px;
}

.top-165 {
    top: 165px;
}

.hover-box {
    box-shadow: 0px 0px 15px 0px var(--shadow-color);
    border-radius: 8px;
    padding: 40px 18px;
    transition: all 200ms linear !important;
}

.svg1 {
    height: 87px;
    width: 87px;
    border-radius: 50%;
    background: var(--liner-gradient);
    box-shadow: var(--hover-shadow);
}

.easy {
    margin-top: 30px;
}

.sec3-p {
    max-width: 257px;
    margin-top: 10px;
}

.mt-70 {
    margin-top: 70px;
}

.sign-btn {
    width: 212px;
    height: 47px;
    border-radius: 30.5px;
    background: var(--submit-btn);
    margin-top: 40px;
    border: none;
    outline: none;
}

.buy-btn {
    width: 162px;
    height: 47px;
    border-radius: 30.5px;
    background: var(--submit-btn);
    border: none;
    outline: none;
}

.mt-112 {
    margin-top: 112px;
}

.box-4 {
    box-shadow: 0px 4px 20px 0px var(--shadow-one-color);
    border-radius: 8px;
    padding-top: 51px;
    padding-right: 36px;
}

.slick-slider {
    margin: 0 -15px;
}

.mb-78 {
    margin-bottom: 35px;
}

.main-price-card {
    padding: 23px 41px;
    background: var(--liner-gradient);
    border-radius: 10px 10px 0 0;
}

.main-svg {
    right: -54%;
    top: 17px;
}

.box-svg {
    left: 2%;
}

.toggle {
    height: 34px;
    width: 77px;
    border-radius: 19px;
    background-color: var(--color-white);
    padding: 0 4px;
}

.toggle-ball {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background: var(--liner-gradient);
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    transition: all 200ms linear !important;
}

.right {
    left: 46px;
}

.pricing-card {
    padding: 41px 35px;/
}

.pb-29 {
    padding-bottom: 29px;
}

.sec5-col6-box {
    background: var(--liner-gradient);
    padding: 41px 21px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0;
    box-shadow: 0px 6px 12px 0px var(--shadow-one-color);
}

.mt-35 {
    margin-top: 35px;
}

.platinm-txt {
    margin-top: 11px;
}

.platinm-svg {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: var(--color-white);
}

.month {
    bottom: 25px;
}

.commen-price-card {
    box-shadow: 0px 6px 12px 0px #0000000F;
}

.commen-input {
    border: none;
    border-bottom: 1px solid var(--color-black);
    padding-bottom: 15px;
    outline: none;
    width: 100%;
}

.textarea {
    resize: none;
    padding-bottom: 40px;
}

.pt-130 {
    padding-top: 169px;
}

.pb-75 {
    padding-bottom: 75px;
}

.slick-slide {
    padding: 40px 0px;
    margin-right: 15px;
    margin-left: 15px;
}

.footer {
    background-image: url(../images/footer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 373px;
}

.footer-p {
    max-width: 375px;
    padding-bottom: 34px;
}

.footer-link {
    width: 294px;
}

.footer-line {
    border: 1px solid var(--border-color);
    width: 100%;
    bottom: 75px;
}

.footer-bottom-txt {
    bottom: 15px;
    left: 50%;
    transform: translatex(-50%);
}

.commen-nxt-prev {
    background: unset;
    outline: none;
    border: none;
}

.next {
    left: 92%;
    bottom: 320px;
}

.prev {
    bottom: 320px;
    left: 3%;
}

.mb-120 {
    margin-bottom: 120px;
}

.doller-img {
    right: 27px;
    top: 29px;
}

.list a::before {
    margin-left: auto;
}

.list a::after,
.list a::before {
    content: '';
    width: 0%;
    height: 3px;
    background: var(--liner-gradient);
    display: block;
    transition: 0.5s;
}

.cursor {
    cursor: pointer;
}

.search-box {
    right: 0;
    top: 45px;
}

#search {
    outline: none;
    border-radius: 8px;
    border: 1px solid var(--color-black);
    box-shadow: 0px 0px 15px var(--shadow-color);
    padding: 8px 12px;
}

#result-here div {
    margin-top: 10px;
    padding: 5px 5px;
    background: var(--liner-gradient);
    border-radius: 6px;
    color: var(--color-white);
    font-family: 'work-sans';
}

.yellow-ball {
    width: 87px;
    height: 87px;
    border-radius: 50%;
    background-color: var(--yellow-ball);
    right: 57px;
    top: 200px;
    width: 87px;
    height: 87px;
    border-radius: 50%;
    background-color: var(--yellow-ball);
    right: 8%;
    top: 20%;
    animation: yellow-ball 20s linear infinite;
}

/*all hover */
.list a:hover::after,
.list a:hover::before {
    width: 100%;
}

.list a:hover {
    -webkit-text-stroke: medium;
    color: var(--color-black);
}

.submit-btn:hover,
.sign-btn:hover,
.buy-btn:hover {
    background: var(--submit-hover);
}

.commen-nxt-prev:hover svg path {
    fill: var(--color-black);
}


.col12-hover:hover .hover-box {
    background-image: url(../images/sec3-hover.png);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.col12-hover:hover .easy {
    color: var(--color-white);
}

.col12-hover:hover .sec3-p {
    color: var(--color-white);
}

.col12-hover:hover .svg1 {
    background: var(--color-white);
}

.col12-hover:hover .svg1 svg path {
    fill: url('#MyGradient');
}

.not-hover:hover{
color: var(--color-white);
}

@keyframes yellow-ball {
    0% {
        right: 8%;
    }

    50% {
        right: 103%;
    }

    100% {
        background: var(--liner-gradient);
        right: 8%;
    }
}

@media (min-width: 576px) {
    .under-top-layer {
        top: 5%;
    }

    .top-170 {
        top: 200px;
    }



    .footer-bottom-txt {
        bottom: 27px;
    }
}

@media (min-width: 768px) {
    .main-txt::after {
        content: '';
        position: absolute;
        top: 73%;
        left: 23%;
        background-image: url(../images/main-txt-before.png);
        background-repeat: no-repeat;
        height: 102px;
        width: 87.85px;
    }

    .under-top-layer {
        top: 14%;
    }

    .section3 {
        top: 169px;
    }

    .pt-md-120 {
        padding-top: 140px;
    }

    .slick-slide {
        padding: 40px;
        margin-right: 15px;
        margin-left: 15px;
    }
}

@media (min-width: 992px) {
    .main-txt::after {
        content: '';
        position: absolute;
        top: 80%;
        left: 4%;
        background-image: url(../images/main-txt-before.png);
        background-repeat: no-repeat;
        height: 102px;
        width: 87.85px;
    }

    .col12-hover:hover .hover-box {
        margin-top: -43px;
        background-image: url(../images/sec3-hover.png);
        background-size: cover;
        background-position: center;
        cursor: pointer;
    }

    .sec5-col6-box {
        border-radius: 10px;
    }

    .commen-price-card {
        border-radius: 10px;
    }

    .sec2-p {
        max-width: 488px;
    }

}

@media (min-width: 1200px) {
    .submit-btn {
        margin-top: 58px;
    }

    .footer-line {
        bottom: 51px;
    }

    .footer-bottom-txt {
        bottom: 14px;
        left: 50%;
    }

    .next {
        left: 88%;
    }

    .prev {
        left: 7%;
    }
}

@media (max-width: 992px) {
    .menubar {
        height: 45px;
        width: 40px;
        z-index: 5;
    }

    .menubar span {
        height: 4px;
        border-radius: 6px;
        background-color: var(--color-black);
        width: 100%;
    }

    .navbar-items {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--submit-btn);
        align-items: center;
        justify-content: center;
        z-index: 3;
        transition: all 0.3s linear !important;
    }

    .show {
        left: 0;
    }
}

@media (max-width : 576px) {
    .main-price-card {
        justify-content: space-between !important;
    }

    .search-box {
        right: -100px;
        top: 45px;
    }

    .box-4{
    padding-top: 36px;
    padding-right: 12px;
    }
}